---
---

@import "{{ site.theme }}";



header.logo {
  color: #fff;
  font-size: 150%;
  font-weight: bold;
}

h1, h2, h3, h4 {
  background: none;
}
h1 {font-size:200%}
h2 {font-size:150%}
h3 {font-size:125%}

a:link {
  color: #005ea5;
  text-decoration: underline;
}

a:hover, a:link {
  font-weight: normal;
}
